# dependencies
node_modules/
.pnpm-store/

# build
dist/
coverage/
.turbo/

# env
.env
.env.local
.env.*.local

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# temp
tmp/
temp/